<h2><%=t :edituser %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<% if f.object.provider == 'google' %>
  <div class="field form-group">
    <%= f.label :email, t(:email) %>
    <%= f.object.email %>
  </div>

<% else %>

  <div class="field form-group">
    <%= f.label :email, t(:email) %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<% end %>

<% unless f.object.provider == 'google' %>

  <div class="field form-group">
    <%= f.label :password, t(:password) %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: t(:password_placeholder) %>
    <% if @minimum_password_length %>
      <em><%= t :pass_min_length, count: @minimum_password_length %></em>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, t(:password_confirmation) %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password, t(:current_password) %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>

<% end %>

  <div class="field form-group">
    <%= f.label :phonenumber, t(:phone) %>
    <%= f.text_field :phonenumber, autocomplete: "tel", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :home_municipality, t(:home_municipality) %>
    <%= f.text_field :home_municipality, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit t(:update), class: 'btn btn-primary' %>
  </div>
<% end %>

<hr />

<h3><%=t :delete_account %></h3>

<p><%= button_to t(:delete_account_btn), registration_path(resource_name), data: { confirm: t(:confirm) }, method: :delete, class: 'btn btn-danger' %></p>
