<h4 class="pt-4"><%=t :add_manual_entry %></h4>
<%= form_with(model: @log, local: true) do |form| %>
<div class="row mb-2">
  <div class='col'>
    <%=form.text_field :description, size: 50, placeholder: t(:description_placeholder), class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div id="time-col" class='col-2 mb-2'>
    <%#=image_tag 'clock.png', height: 30%> 
    <%=form.text_field :time, size: 4, class: 'form-control' %>
  </div>
  <div id="all-day-col" class='col-2 pl-0 mb-2'>
    <div class="form-check">
      <%=form.check_box :all_day, class: 'form-check-input', onclick: 'allDay()' %>
      <label class="form-check-label" for="all_day"><%=t :all_day%></label>
    </div>
  </div>
  <div id="day-col" class='col-3 mb-2'>
    <%=form.text_field :day, size: 12, class: 'form-control', onclick: 'openCal()' %>
    <%# <%=image_tag 'calendar.png', height: 30, onclick: 'openCal()'%> 
  </div>
  <div id="no-people-col" class='col-3 mb-2'>
    <%=form.text_field :num_people, size: 4, placeholder: t(:num_people), class: 'form-control' %>
  </div>
  <div id="submit-col" class='col-2 mb-2'>
    <%=form.submit t(:save), class: 'btn btn-primary', style: 'width: 100%' %>
  </div>
</div>
<% end %>
<script>
  var dp = new SimplePicker({disableTimeSection: false, compactMode: true});
function openCal() {
  dp.open();
  dp.disableTimeSection();
}
function allDay(x) {
  // console.log('time val: ' + $('#log_entry_time').val());
  // console.log('disabled: ' + $('#log_entry_time').prop('disabled'));
  // console.log('check val: ' + $('#log_entry_all_day').prop('checked'));
  if($('#log_entry_all_day').prop('checked')) {
    $('#log_entry_time').val('').prop('disabled', true);
  } else {
    var x = new Date;
    x = x.toTimeString().substr(0,5);
    $('#log_entry_time').val(x).prop('disabled', false);
  }
}
dp.on('submit', function(d1, d2) {
  var ts = moment(d1);
  $('#log_entry_day').val(ts.format("YYYY-MM-DD"));
});
</script>
<hr />

<%= form_with(model: @google, local: true, id: 'gupload') do |form| %>
<div id="gmaps-data">
  <h4><%=t :use_gmaps%></h4>
  <!-- <div class='row justify&#45;content&#45;center'> -->
  <div class='row'>
    <div class='col-auto'>
      <center>
        <%# <%=image_tag 'dl.png', height: 120 %>
        <!-- <span style="font&#45;family: 'Nunito Sans', sans&#45;serif; font&#45;size: 21px;"> -->
        <h5>
          <%=raw t :download_gmaps%>
        </h5>
        <!-- </span> -->
      </center>
      <div>
        <center>
          <%(0..7).each do |d|%>
            <%=link_to t(:daysago, count: d), timelineurl(Date.today - d) %> <br />
          <% end %>
        </center>
      </div>
    </div>
    <div class='col-auto'>
      <center>
        <h5>
          <%=raw t :upload_data%>
        </h5>
      </center>
      <%=form.drag_and_drop_file_field :uploads do%>
        <%# <%=image_tag 'upload.png', height: 120 %>
        <%= t :draghere %>
      <% end %>
      <center>
        <%=form.submit t(:send), class: 'btn btn-primary' %>
      </center>
    </div>
  </div>
  <hr class="mb-4" />
</div>
<% end %>

<h4><%=t(:log)%></h4>
<div id="log-entries" class="mb-4">
<%
curdate= nil
@entries.each do |e| %>
<% if e.day != curdate
  curdate = e.day%>
   <h5><%=l e.day, format: "%A %d.%m."%></h5>
 <% end %>
 <span id='log-<%=e.id%>'>
   <%= render 'log_entries/row', object: e %>
 </span>
<% end %>
</div>
