<div class="help-blob">
<h1>Usage</h1>

<ol>
  <li>Click Download history -icon</li>
  <li>Pick up the downloaded file and drag it onto to the Drag here -icon</li>
  <li>Click Send -button</li>
  <li>You can now add or modify details of separate events; how many people you’ve encountered during the events etc. or remove false evente by clicking the icons next to the events.</li>
  <li>You can also add events manually by filling in the fields and clicking Save</li>
</ol>

<p>
If you have any question don't hesitate to contact us.
</p>
<p>
#contact_tracing in hackthecrisisfindland-slack<br />
<a href="mailto:anssi@aketzu.net">anssi@aketzu.net</a><br />
+358 40 5085390
</p>
</div>

<p>
<%
curdate= nil
@entries.each do |e| %>
<% if e.day != curdate
  curdate = e.day%>
   <h2><%=e.day.strftime("%A %d.%m.")%></h2>
 <% end %>
 <span id='log-<%=e.id%>'>
   <%= render 'log_entries/row', object: e %>
 </span>
<% end %>
</p>



<%
def tlurl(day)
  "https://www.google.fi/maps/timeline/kml?authuser=0&pb=!1m8!1m3!1i%u!2i%u!3i%u!2m3!1i%u!2i%u!3i%u" % [day.year, day.month-1, day.day, day.year, day.month-1, day.day]
end

%>

<%= form_with(model: @log, local: true) do |form| %>
  <div class="row">
    <div class='col'>
      <%=form.text_field :description, size: 50, placeholder: 'Where have you been, how many close contacts', class: 'form-control' %>
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class='col-3'>
      <%#=image_tag 'clock.png', height: 30%> 
      <%=form.text_field :time, size: 4, class: 'form-control' %>
    </div>
    <div class='col'>
      <%=image_tag 'calendar.png', height: 30, onclick: 'openCal()'%> 
      <%=form.hidden_field :day, size: 8 %>
      &nbsp;
      <%=form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<script>
  var dp = new SimplePicker({disableTimeSection: false, compactMode: true});
function openCal() {
  dp.open();
  dp.disableTimeSection();
}
dp.on('submit', function(d1, d2) {
  var ts = moment(d1);
  $('#log_entry_day').val(ts.format("YYYY-MM-DD"));
});
</script>
<hr />

<%= form_with(model: @google, local: true, id: 'gupload') do |form| %>
  <div class='row justify-content-center'>
    <div class='col-auto'>
      <center>
        <%# <%=image_tag 'dl.png', height: 120 %> <br />
        <span style="font-family: 'Nunito Sans', sans-serif; font-size: 21px;">
          Download your<br />location data<br />
        </span>
      </center>
      <div>
        <center>
          <%=link_to 'Today', tlurl(Date.today) %> <br />
          <%=link_to '1 day ago', tlurl(Date.today - 1) %> <br />
          <%=link_to '2 days ago', tlurl(Date.today - 2) %> <br />
          <%=link_to '3 days ago', tlurl(Date.today - 3) %> <br />
          <br />
        </center>
      </div>
    </div>
    <div class='col-auto'>
      <%=form.drag_and_drop_file_field :uploads do%>
        <%# <%=image_tag 'upload.png', height: 120 %> <br />
        Drag here or click to select
      <% end %>
      <center>
        <%=form.submit 'Send', class: 'btn btn-primary' %>
      </center>
    </div>
  </div>
<% end %>
