<h2 data-toggle="collapse" data-target="#add-entry"><%=t :add_manual_entry %></h2>
<div class="collapse" id="add-entry" aria-expanded="false" aria-controls="add-entry">
<%= form_with(model: @log, local: true) do |form| %>
<div class="row mb-2">
  <div class='col'>
    <div class="field form-group">
      <%=form.label :place, t(:description) %>
      <%=form.text_field :place, size: 50, placeholder: t(:description_placeholder), class: 'form-control', title: t(:description_title) %>
    </div>
    <div class="field form-group">
      <%=form.label :address, t(:address) %>
      <%=form.text_field :address, placeholder: t(:address_placeholder), class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%=form.label :day, t(:day) %>
      <%=form.text_field :day, size: 12, class: 'form-control', onclick: 'openCal()', title: t(:day_title) %>
      <%#=image_tag 'calendar.png', height: 30, onclick: 'openCal()'%> 
    </div>
  </div>
  <div class='col'>
    TODO: make them work<br />
    <% current_user.places.each do |p| %>
      <%=fas(p.icon)%> <%=h p.name%><br />
    <% end %>
  </div>
</div>
      <%=form.label :foo, t(:time_title) %>
    <div class="field form-group" style="padding-left: 1.25rem">
      <%=form.check_box :all_day, class: 'form-check-input', onclick: 'allDay(this.checked)', title: t(:all_day_title) %>
      <label class="form-check-label" for="all_day"><%=t :all_day%></label>
    </div>
    <div class="field form-group form-inline">
        <%=form.label :arrival, 'Arrival time' %>&nbsp;
        <%=form.text_field :arrival, size: 4, class: 'form-control time-edit', title: t(:time_title) %>
        <span style="padding-left: 1.5rem"></span>
        <%=form.label :departure, 'Departure time' %>&nbsp;
        <%=form.text_field :departure, size: 4, class: 'form-control time-edit', title: t(:time_title) %>
    </div>
    <div class="field form-group">
      <%=form.label :people_num, t(:contacts) %>
    <%=form.select :people_num, options_for_select([t(:num_people)] + LogEntry.num_options), {}, class: 'form-control', title: t(:contacts_title) %>
    </div>
    <div class="field form-group">
      <%=form.label :persons, t(:persons) %>
    <%=form.text_area :persons, size: 4, class: 'form-control', placeholder: 'Names of people', title: 'Who where you in contact with?', rows: 5 %>
    </div>
    <%=form.submit t(:add), class: 'btn btn-primary', style: 'width: 100%', title: t(:add_title) %>
  </div>
<% end %>
<script>
var dp = new SimplePicker({disableTimeSection: false, compactMode: true});
function openCal() {
  dp.open();
  dp.disableTimeSection();
}
function allDay(checked) {
  if (checked) {
    $('.time-edit').val('').prop('disabled', true);
  } else {
    var ts = new Date;
    ts = ts.toTimeString().substr(0,5);
    $('.time-edit').val(ts).prop('disabled', false);
  }
}
dp.on('submit', function(d1, d2) {
  var ts = moment(d1);
  $('#log_entry_day').val(ts.format("YYYY-MM-DD"));
});
</script>
</div>

<i class='collapse-btn fas fa-chevron-double-down' id="add-entry-btn" data-toggle="collapse" data-target="#add-entry" aria-expanded="false" aria-controls="add-entry"></i>
<hr />

<h2 data-toggle="collapse" data-target="#upload-data">Upload data</h2>
<div class="collapse" id="upload-data" aria-expanded="false" aria-controls="upload-data">

<%= form_with(model: @google, local: true, id: 'gupload') do |form| %>
<div id="gmaps-data">
  <h2><%=t :use_gmaps%></h2>
  <!-- <div class='row justify&#45;content&#45;center'> -->
  <div class='row'>
    <div class='col-auto'>
      <center>
        <%# <%=image_tag 'dl.png', height: 120 %>
        <!-- <span style="font&#45;family: 'Nunito Sans', sans&#45;serif; font&#45;size: 21px;"> -->
        <h3>
          <%=raw t :download_gmaps%>
        </h3>
        <!-- </span> -->
      </center>
      <div>
        <center>
          <%(0..7).each do |d|%>
            <%=link_to t(:daysago, count: d), timelineurl(Date.today - d) %> <br />
          <% end %>
        </center>
      </div>
    </div>
    <div class='col-auto'>
      <center>
        <h3>
          <%=raw t :upload_data%>
        </h3>
      </center>
      <%=form.drag_and_drop_file_field :uploads do%>
        <%# <%=image_tag 'upload.png', height: 120 %>
        <%= t :draghere %>
      <% end %>
      <center>
        <%=form.submit t(:send), class: 'btn btn-primary' %>
      </center>
    </div>
  </div>
  <hr class="mb-4" />
</div>
<% end %>
</div>

<i class='collapse-btn fas fa-chevron-double-down' id="upload-data-btn" data-toggle="collapse" data-target="#upload-data" aria-expanded="false" aria-controls="upload-data"></i>
<hr />

<h2 data-toggle="collapse" data-target="#diary"><%=t(:log)%></h2>
<div class="collapse" id="diary" aria-expanded="false" aria-controls="diary">
<div id="log-entries" class="mb-4">
<%
curdate= nil
@entries.each do |e| %>
<% if e.day != curdate
  curdate = e.day%>
   <h3><%=l e.day, format: "%A %d.%m."%></h3>
 <% end %>
 <span id='log-<%=e.id%>'>
   <%= render 'log_entries/row', object: e %>
 </span>
<% end %>
</div>

<%= link_to 'Export to PDF', print_log_entries_path(format: 'pdf') %>
</div>
<i class='collapse-btn fas fa-chevron-double-down' id="diary-btn" data-toggle="collapse" data-target="#diary" aria-expanded="false" aria-controls="diary"></i>
<hr />

<script>
  $("#add-entry").on('show.bs.collapse hide.bs.collapse', function(){
    $("#add-entry-btn").toggleClass('fa-chevron-double-down').toggleClass('fa-chevron-double-up');
  });
  $("#upload-data").on('show.bs.collapse hide.bs.collapse', function(){
    $("#upload-data-btn").toggleClass('fa-chevron-double-down').toggleClass('fa-chevron-double-up');
  });
  $("#diary").on('show.bs.collapse hide.bs.collapse', function(){
    $("#diary-btn").toggleClass('fa-chevron-double-down').toggleClass('fa-chevron-double-up');
  });
</script>
