<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-auto mr-auto">

  <% if devise_mapping.rememberable? %>
    <div class="field form-group" style="padding-left: 1.25rem">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label' %>
    </div>
  <% end %>
    </div>
    <div class="col-auto">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to t(:forgot_pass), new_password_path(resource_name) %><br />
      <% end %>
    </div>
  </div>

  <div class="actions form-group">
    <%= f.submit t(:signin), class: 'btn btn-primary' %>
  </div>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <% if provider.to_s == 'google_oauth2' %>
    <%= link_to image_tag('btn_google_signin_dark_normal_web.png'), omniauth_authorize_path(resource_name, provider), title: 'Sign in with Google account' %><br />
    <% else %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
    <% end %>
  <% end %>
<% end %>

<br /><br />

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%=t :no_account %> <%= link_to t(:signup), new_registration_path(resource_name) %><br />
<% end %>


<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<br />
