<%= form_with(model: @log_entry, local: false, remote: true) do |form| %>
  <% if @log_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_entry.errors.count, "error") %> prohibited this log_entry from being saved:</h2>

      <ul>
        <% @log_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :time, size: 5, title: 'Time' %>
    <%= form.text_field :duration, size: 5, title: 'Duration' %>
    <%= form.text_field :description, size: 20, title: 'Description' %>
    <%= form.text_field :placename, size: 20, title: 'Place' %>
    <%= form.text_field :address, size: 20, title: 'Address' %>
    <%= form.select :contacts, options_for_select(LogEntry.num_options, form.object.contacts), {}, class: '', title: 'Number of contacts' %>
    <%= form.text_field :persons, size: 20, title: 'Names of contacts' %>

    <%= form.submit 'Save' %>
<% end %>
