<%= form_with(model: place, local: true) do |f| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name, t(:placename) %>
    <%= f.text_field :name, class: 'form-control', onchange: 'checkEnable()' %>
  </div>
  <div class="field form-group">
    <%= f.label :icon, t(:chooseicon) %>
    <%= f.hidden_field :icon %>
    <%#= f.select :icon, options_for_select(Place.iconlist, place.icon), {}, class: 'form-control' %>
    <% Place.iconlist.each do |ico| %>
      <i class='fas fa-<%=ico%> placeicon <%='placeicon-selected' if f.object.icon == ico %>' onclick='selectIcon(this, "<%=ico%>")'></i>
    <% end %>
  </div>

  <%=t(:address)%>
  <div class="field form-group">
    <%= f.text_field :address1, autocomplete: 'street-address', class: 'form-control', placeholder: t(:address1) %>
  </div>
  <div class="field form-group">
    <%= f.text_field :postalcode, autocomplete: 'postal-code', class: 'form-control', placeholder: t(:postalcode) %>
  </div>
  <div class="field form-group">
    <%= f.text_field :city, autocomplete: 'address-level2', class: 'form-control', placeholder: t(:city) %>
  </div>
  <div class="field form-group">
    <%= f.label :num_people, t(:people_num)%>
    <%= f.number_field :num_people, min: 0, max: 100, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :persons, t(:person_names) %>
    <%= f.text_area :persons, class: 'form-control', rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit t(:add_place), class: 'btn btn-primary', id: 'place_submit' %>
  </div>
<% end %>

<script>
function checkEnable() {
  var val = $("#place_name").val();
  $("#place_submit").prop('disabled', val == "");
}
checkEnable();
function selectIcon(sel, icon) {
  $(".placeicon").removeClass('placeicon-selected');
  $(sel).addClass('placeicon-selected');
  $("#place_icon").val(icon);
}
</script>
