<!DOCTYPE html>
<html>
  <head>
    <title>Pisarasi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="<%=asset_url 'icon-white-bg.png'%>">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163574617-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-163574617-2');
    </script>


    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md topnav fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Työkalu tartuntaketjujen jäljittämiseksi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%=link_to t(:home), 'https://pisarasi.fi/', class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%=link_to t(:about), 'https://pisarasi.fi/about/', class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%=link_to t(:faq), 'https://pisarasi.fi/ukk/', class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%=link_to 'Kanijo Oy', 'https://pisarasi.fi/kanijo/', class: 'nav-link' %>
            </li>
          </ul>

          <div class="colbox-r">
            <div class="colrow">
              <ul class="navbar-nav">
                <li class="nav-item <%= 'active' if current_page?(home_index_path) || current_page?('/') %>">
                  <%=link_to t(:diary), home_index_path, class: 'nav-link' %>
                </li>
                <li class="nav-item <%= 'active' if current_page? edit_user_registration_path %>">
                  <%=link_to t(:profile), edit_user_registration_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%=link_to t(:logout), destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>
              </ul>
            </div>
            <div class="colrow">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="dropdown-lang" data-toggle="dropdown" href="#"><%=t :current_lang%></a>
                  <div class="dropdown-menu" aria-labelledby="dropdown-lang">
                    <a class="dropdown-item" href="?locale=en">English</a>
                    <a class="dropdown-item" href="?locale=fi">Suomi</a>
                    <a class="dropdown-item" href="?locale=se">Svenska</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </nav>

    <main role="main" class="container">
      <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
       <%= yield %>
    </main>
<!--
    <footer class="footer">
      <div class="container">
        
      </div>
    </footer>
-->

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%=link_to t(:privacy_policy), 'https://pisarasi.fi/tietosuoja/', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%=link_to t(:tos), 'https://pisarasi.fi/pisarasi-palvelun-ehdot/', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%=link_to 'GitHub', 'https://github.com/kanijo-oy', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
  </body>
</html>
