<!DOCTYPE html>
<html>
  <head>
    <title>Pisarasi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Pisarasi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= 'active' if current_page?(home_index_path) || current_page?('/') %>">
              <%=link_to 'Home', home_index_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= 'active' if current_page? home_policy_path %>">
              <%=link_to 'Privacy policy', home_policy_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= 'active' if current_page? home_help_path %>">
              <%=link_to 'About', home_help_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= 'active' if current_page? edit_user_registration_path %>">
              <%=link_to 'Profile', edit_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown-lang" data-toggle="dropdown" href="#">English</a>
              <div class="dropdown-menu" aria-labelledby="dropdown-lang">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Suomi</a>
                <a class="dropdown-item" href="#">Svenska</a>
              </div>
<!-- <a class="nav&#45;link dropdown&#45;toggle" href="http://example.com" id="dropdown07" data&#45;toggle="dropdown" aria&#45;haspopup="true" aria&#45;expanded="true">Dropdown</a> -->
            </li>
          </ul>
          <!--
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          -->
        </div>
      </div>
    </nav>
    <!-- <div class='langbar'> -->
      <%# <%=image_tag 'uk.png', class: 'flag flag-active'%>
      <%# <%=image_tag 'fin.png', class: 'flag'%>
      <%# <%=image_tag 'swe.png', class: 'flag'%>
      <!-- EN <a href="#">FI</a> <a href="#">SV</a> -->
    <!-- </div> -->

    <main role="main" class="container">
      <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
       <%= yield %>
    </main>
  </body>
</html>
